@using OnlineTicariOtomasyon.Models.Entity
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .card {
        float: left;
        margin: 1.0rem;
        align-content: center;
    }

    img {
        height: 15rem;
        object-fit: contain
    }

    h5 {
        margin-top: 10px
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
<br />

@foreach (var personel in Model)
{


    <div class="card" style="width: 15rem;">
        <img src="@personel.PersonelImagePath" class="card-img-top" alt="...">
        <center> <h5 class="card-title">@personel.Name @personel.Surname</h5></center>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Tc Kimlik:<strong> @personel.TcKimlik</strong></li>

            <li class="list-group-item" style="font-size:14px">Departman:<strong> @personel.Department.Name</strong></li>

        </ul>
        <div class="card-body">
            <center>
                <a href="~/Personel/Delete/@personel.Id" class="btn btn-danger" onclick = "return confirm('Bu personeli silmek istediğinizden emin misiniz?')">Personel Sil</a>
                <a href="~/Personel/GeyByPersonelId/@personel.Id" class="btn btn-warning"> Güncelle</a>
                <a style="margin-top:5px" href="~/Personel/PersonelSales/@personel.Id" class="btn btn-primary">Personel Detayları</a>

            </center>
        </div>
    </div>
}


